<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhjl37.permission">

    <application>

        <activity
            android:name=".PermissionsRationaleActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.Dialog.Alert" />

    </application>
</manifest>